@import '../../styles/globals.scss';

.page-header {
  .prev-route {
    margin-left: -16px;
  }
  .action-btns {
    height: 40px;
    border: 1px solid $border;
    background-color: $border;
    .action-btn {
      height: 100%;
      width: 100px;
      font-weight: 700;
      font-size: 14px;
      @media (max-width: 480px) {
        width: 65px;
      }
    }
  }
  .title {
    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
}
