@import '../styles/globals.scss';

.ant-btn {
  height: auto;
  border: 0px;
}

.ant-input,
.ant-picker {
  height: 50px;
  background: transparent;
  padding-left: 12px;
  padding-right: 20px;
  border: 1px solid $input-border;
  font-size: 16px;
  color: #fff;
  &::placeholder {
    color: $dark-gray;
  }
  &:hover,
  &:focus {
    border-color: $dark-wc;
  }
  &:focus,
  &.ant-picker-focused {
    box-shadow: 0 0 0 2.5px rgba($color: $dark-wc, $alpha: 0.3);
  }
}

.ant-form {
  .ant-form-item {
    .ant-form-item-row {
      .ant-form-item-label {
        .ant-form-item-required {
          &::before {
            left: 100%;
            position: absolute;
            margin-left: 2px;
          }
        }
        label {
          color: $light-gray;
          font-weight: 700;
          margin-bottom: 5px;
        }
      }
      .ant-form-item-control {
        .ant-form-item-control-input {
          .ant-input {
            &.ant-input-status-error {
              &:hover {
                border-color: $error;
              }
            }
          }
          .ant-picker {
            &.ant-picker-status-error {
              background: transparent;
            }
            .ant-picker-input {
              input {
                color: #fff;
                &::placeholder {
                  color: $dark-gray;
                }
              }
            }
            .ant-picker-clear {
              background: transparent;
              svg {
                font-size: 18px;
                fill: $input-border;
              }
            }
          }
        }
      }
      .ant-select {
        .ant-select-selector {
          height: 50px;
          background: transparent;
          border: 1px solid $input-border;
          .ant-select-selection-search {
            .ant-select-selection-search-input {
              height: 100%;
            }
          }
          .ant-select-selection-item {
            color: #fff;
            line-height: 50px;
            text-transform: capitalize;
          }
          .ant-select-selection-placeholder {
            color: $dark-gray;
            line-height: 50px;
          }
        }
        .ant-select-arrow {
          margin-right: 10px;
        }
        &:hover,
        &:focus {
          .ant-select-selector {
            border-color: $dark-wc;
          }
        }
        &.ant-select-focused,
        &.ant-select-open {
          .ant-select-selector {
            box-shadow: 0 0 0 2.5px rgba($color: $dark-wc, $alpha: 0.3);
          }
        }
        &.ant-select-status-error {
          .ant-select-selector {
            border: 1px solid $error;
          }
          &.ant-select-focused,
          &.ant-select-open {
            .ant-select-selector {
              box-shadow: 0 0 0 2.5px rgba($color: $error, $alpha: 0.3);
            }
          }
        }
      }
    }
  }
}

.ant-select-dropdown {
  border: 1px solid $input-border;
  background: $mc;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.3);
  padding: 0px;
}
